body{
    background-color: aquamarine;
    border: 10px;
      
   
}

.marco{
border: 5px solid brown;
height: 600px;


}

.encabezado{
    background-color:rgb(255, 0, 0);

}
h1{
    text-align: center;
    display: block;
    color: blanchedalmond;

}

form{
    width: 25%;
    border: 1px solid #ccc;
    margin: 20px;
    padding: 20px;    

}
    
label{
    font-size: 12px;
    display: block;
    width: 100%;

}
 
